.Parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: center;
  gap: 4em;
  /* align-content: stretch; */
}

.BigChild {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ResultsDiv {
  margin-bottom: 7.8em;
}

button {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}

.LogoImg {
  width: 25%;
  height: auto;
  margin-bottom: 40px;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .BigChild {
    /* background-color: yellow; */
    flex-direction: column;
    /* flex-direction: column-reverse; */
    gap: 1;
  }

  .ResultsDiv {
    margin-bottom: 20px;
  }

  .LogoImg {
    width: 35%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .BigChild {
    /* background-color: blue; */
    flex-direction: column;
    gap: 1;
  }

  .ResultsDiv {
    margin-bottom: 20px;
  }

  .LogoImg {
    width: 35%;
    height: auto;
  }
}

@media (max-width: 750px) {
  .BigChild {
    /* background-color: steelblue; */
    flex-direction: column;
    gap: 1;
  }

  .ResultsDiv {
    margin-bottom: 20px;
  }

  .LogoImg {
    width: 45%;
    height: auto;
  }
}

@media (max-width: 376px) {
  .BigChild {
    /* background-color: green; */
    flex-direction: column;
    gap: 1;
  }

  .ResultsDiv {
    margin-bottom: 20px;
  }

  .LogoImg {
    width: 45%;
    height: auto;
  }
}

@media (max-width: 280px) {
  .BigChild {
    /* background-color: pink; */
    flex-direction: column;
    gap: 1;
  }

  .ResultsDiv {
    margin-bottom: 20px;
  }

  .LogoImg {
    width: 50%;
    height: auto;
  }
}
