.Parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: center;
  gap: 4em;
  /* align-content: stretch; */
}

.BigChild {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ResultsDiv {
  margin-bottom: 7.8em;
}

/* MEDIA QUERIES */
/* @media (max-width: 1024px) {
  .Input {
    width: 100%;
  }
  .MovieCard {
    gap: 1;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .MovieCard {
    gap: 1;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .MovieCard {
    flex-direction: column;
    gap: 1;
  }
}

@media (max-width: 376px) {
  .MovieCard {
    flex-direction: column;
    gap: 1;
    width: 100%;
  }
}

@media (max-width: 280px) {
  .MovieCard {
    flex-direction: column;
    gap: 1;
    width: 100%;
  }

  img {
    height: 55px;
    width: auto;
  }
} */
