.Parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  /* align-content: stretch; */
}

.Child1,
.Child2 {
  align-self: flex-start;
}
