.TopBox {
  display: flex;
  justify-content: space-between;
}

.LeadTextDiv {
  margin-bottom: 40px;
}

.LeadText1 {
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 3em;
  color: #90660a;
  font-weight: 700;
}

.LeadText2 {
  line-height: 1.2;
  margin-bottom: 40px;
  font-size: 1.8em;
  color: #004c3f;
  font-weight: 600;
}
.LeadText3 {
  font-size: 1.5em;
  color: #004c3f;
}

.Input {
  display: inline-block;
  height: 3.2em;
  width: 100%;
  margin: 0 0 15px;
  padding: 1em 0.9375em;
  color: #212326;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  transition: padding 150ms;
  -webkit-appearance: none;
  appearance: none;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

input[type='text'] {
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

input:disabled {
  background-color: #e4e4e4;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 1.5em 2em;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .TopBox {
    flex-direction: column;
  }

  .LeadText1 {
    font-size: 3em;
  }

  .LeadText2 {
    font-size: 1.8em;
    margin-bottom: 0;
  }

  .LeadText3 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .TopBox {
    flex-direction: column;
  }

  .LeadText1 {
    font-size: 2.8em;
  }

  .LeadText2 {
    font-size: 1.6em;
    margin-bottom: 0;
  }

  .LeadText3 {
    font-size: 1.6em;
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .TopBox {
    flex-direction: column;
  }

  .LeadText1 {
    font-size: 2.6em;
  }

  .LeadText2 {
    font-size: 1.4em;
    margin-bottom: 0;
  }

  .LeadText3 {
    font-size: 1.4em;
    margin-bottom: 20px;
  }
}

@media (max-width: 376px) {
  .TopBox {
    flex-direction: column;
  }

  .LeadText1 {
    font-size: 2.4em;
  }

  .LeadText2 {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  .LeadText3 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

@media (max-width: 280px) {
  .TopBox {
    flex-direction: column;
  }

  .LeadText1 {
    font-size: 2.2em;
  }

  .LeadText2 {
    font-size: 1em;
    margin-bottom: 0;
  }

  .LeadText3 {
    font-size: 1em;
    margin-bottom: 20px;
  }
}
