.Input {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  padding: 0.5em 1em;
  border: none;
  background-color: #ffffff;
  width: 85%;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}
