.MovieDiv {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.MovieCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  line-height: 1.5;
  background-color: #ffffff;
  width: 80%;
  padding: 2em;
  border-radius: 0.25rem;
  /* -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0 0 1px #6b7177;

  /* height: 3.2em;
  width: 100%;
  margin: 0 0 15px;
  padding: 1em 0.9375em;
  color: #212326;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-size: 1em;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  transition: padding 150ms;
  -webkit-appearance: none;
  appearance: none; */
}

.NomBtn {
  /* float: right; */
  align-self: center;
  justify-self: right;
  /* box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
  background-color: #004c3f; */
}

.MovieImage {
  height: 100px;
  width: auto;
}

.Button {
  font-family: 'Open Sans', sans-serif;
  /* cursor: pointer;
  letter-spacing: 1px;
  background-color: #008060;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 0.25rem;
  border: 1px solid #008060;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25); */

  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  background-color: #008060;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.Button:hover {
  background-color: #004d3a;
  color: #ffffff;
  text-decoration: none;

  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.Button:active {
  background-color: #008060;
  color: #ffffff;
  border: 1px solid #008060;

  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.Button:disabled {
  font-family: 'Open Sans', sans-serif;
  background-color: #d3d3d3;
  color: #ffffff;
  /* padding: 6px 12px;
  border-radius: 0.25rem;
  border: 1px solid #d3d3d3;
   letter-spacing: 1px; */

  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: default;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .MovieCard {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .MovieCard {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .MovieCard {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 376px) {
  .MovieCard {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 280px) {
  .MovieCard {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}
