.NomBtn {
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #008060;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 0.25rem;
  border: 1px solid #008060;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
}

.NomBtn:hover {
  background-color: #004d3a;
  color: #ffffff;
  text-decoration: none;
}

.NomBtn:active {
  background-color: #008060;
  color: #ffffff;
  border: 1px solid #008060;
}

.NomBtnDisabled {
  letter-spacing: 1px;
  background-color: #d3d3d3;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 0.25rem;
  border: 1px solid #d3d3d3;
}
