.NomMovieDiv {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  background-color: #ffffff;
  line-height: 1.2em;
  background-color: #ffffff;
  /* width: 80%; */
  padding: 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Child {
  display: flex;
  align-items: center;
}

/* .MovieCard {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  line-height: 1.2em;
  background-color: #ffffff;
  width: 80%;
  padding: 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
} */

.NominatedMovieCard {
  background-color: #ffffff;
  font-size: 1.1rem;
  width: 400px;
  letter-spacing: 1px;
  padding: 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
