.NominatedMovieCard {
  font-size: 1.1rem;
  width: 200px;
  letter-spacing: 1px;
  padding: 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
