.NomMovieDiv {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  background-color: #ffffff;
  line-height: 1.2em;
  background-color: #ffffff;
  /* width: 80%; */
  padding: 1.5em;
  border-radius: 0.25rem;
  /* -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0 0 1px #6b7177;
}

.TopDiv {
  width: 500px;
  margin-bottom: 40px;
}

.Child {
  display: flex;
  align-items: center;
}

.NominatedMovieCard {
  background-color: #ffffff;
  font-size: 1.1rem;
  width: 400px;
  letter-spacing: 1px;
  padding: 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.PosterImg {
  height: 100px;
  border-radius: 0.25rem;
}

.MovieDetails {
  margin-right: 10px;
  line-height: 1.5;
}

.Imdb {
  width: 15%;
  height: auto;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .NomMovieDiv,
  .TopDiv {
    width: 100%;
  }

  .TopDiv {
    margin-bottom: 20px;
  }

  .Imdb {
    width: 10%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .NomMovieDiv,
  .TopDiv {
    width: 100%;
  }

  .TopDiv {
    margin-bottom: 20px;
  }

  .Imdb {
    width: 10%;
    height: auto;
  }
}

@media (max-width: 750px) {
  .NomMovieDiv,
  .TopDiv {
    width: 100%;
  }

  .TopDiv {
    margin-bottom: 20px;
  }

  .Imdb {
    width: 15%;
    height: auto;
  }
}

@media (max-width: 376px) {
  .NomMovieDiv,
  .TopDiv {
    width: 100%;
  }

  .TopDiv {
    margin-bottom: 20px;
  }

  .Imdb {
    width: 15%;
    height: auto;
  }
}

@media (max-width: 280px) {
  .NomMovieDiv,
  .TopDiv {
    width: 100%;
  }

  .TopDiv {
    margin-bottom: 20px;
  }

  .Imdb {
    width: 15%;
    height: auto;
  }
}
