.RemoveBtn {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  background-color: #008060;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.RemoveBtn:hover {
  background-color: #004d3a;
  color: #ffffff;
  text-decoration: none;

  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.RemoveBtn:active {
  background-color: #008060;
  color: #ffffff;
  border: 1px solid #008060;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
